include TODO
include ChangeLog
include LICENCE*
include COPYING
include MANIFEST*
include photocat*
include setup.*
recursive-include photocat *
recursive-include po *.in *.po *.pot
recursive-include locale *
recursive-include debian *
recursive-include dist.linux *
recursive-include data *
global-exclude *~ *.swp \.* *.pyc *.pyo
