include TODO
include CHANGELOG
include LICENCE.txt
include LICENCE_EXIFpy.txt
include LICENCE_python.txt
include LICENCE_wxPython.txt
recursive-include pc *.mo *.po *.pot
recursive-include debian *
recursive-include dist.linux *
