[Desktop Entry]
Encoding=UTF­8
Icon=/usr/share/pc/src/pc/icons/folder_image.png
Name=Picture Catalog
Exec=python -OO /usr/share/pc/src/pc.py
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;
StartupNotify=false

