[Desktop Entry]
Encoding=UTF-8
Icon=/usr/share/photocat/data/icon.svg
Name=Photo Catalog
Name[pl]=Katalog zdjęć
Comment=Photo collections manager
Comment[pl]=Menadżer kolekcji zdjęć
Exec=photocat
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;
StartupNotify=true

