#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

%:
	dh $@ --with python2

clean: 
	rm -rf $(CURDIR)/debian/photocat
	find . -type f \( -name '*.pyc' -or -name '*.pyo' -or -name '*~' \) -exec rm {} ';'
	$(CURDIR)/setup.py cleanup
	dh $@

override_dh_auto_configure:
	cd debian && sed "2s/on .*$$/on `date -R`/" copyright > copyright.tmp && mv copyright.tmp copyright

override_dh_auto_build:
	$(CURDIR)/setup.py make_mo

override_dh_auto_install:
	# Add here commands to install the package into debian/photocat.
	cp -r photocat $(CURDIR)/debian/photocat/usr/share/photocat/src/
	cp -r photocat.pyw $(CURDIR)/debian/photocat/usr/share/photocat/src/
	cp data/photocat.desktop $(CURDIR)/debian/photocat/usr/share/applications/
	cp bin/photocat $(CURDIR)/debian/photocat/usr/bin/
	cp -r locale/* $(CURDIR)/debian/photocat/usr/share/locale
	cp -r data $(CURDIR)/debian/photocat/usr/share/photocat/

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog
